<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI4Q7tMVL9GxgIVoFF4yjkDLk1Esz5uIU</string>
	<key>GCM_SENDER_ID</key>
	<string>768667048840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beltran.blaine.Cocina</string>
	<key>PROJECT_ID</key>
	<string>cocina-b6c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>cocina-b6c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768667048840:ios:6080fb49d32ad7c6a2b83d</string>
</dict>
</plist>